body{
    padding: 0;
    margin: 0;
}
.general{
    background-color: rgb(188, 222, 222);
    height: 100%;
    width: 100%;
    
}
.title{
    height: 45px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    
     
    
   
}
.title p{
    font-size: 20px;
    color: black;
    padding: 10px; 
    margin-left: 10px;
    font-weight:600; 
}
.full{
    height: 70%;
    background-color: beige;
    margin: 30px;
    align-items: center;
   
}
.basic{
    height: 40px;
    background-color: rgb(211, 131, 91);
    color: white;
 
}
.basic p{
    align-items: center;
    padding: 10px;
    margin-left: 10px; 
}
.information{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;

   
}
 .line hr{
    width: 28%;
    border: none;
    border-top: 1px solid grey;
    display: inline-block;
    margin-left: 30px;
    filter: drop-shadow(2px 5px 6px wheat);
    
  }
  .line{
    margin-left: 16%;
    margin-right: 14%;
   
  }

.p{
    margin-top: -50px;
}
.p img{
    border-radius: 50%;
}
.s{
    color: yellowgreen;
    font-size: small;
    font-weight: bold;
    line-height: 40px;
    margin-left: 80px;
    text-align: right;
}
.s th{
    text-align: left;
}
.s td{
    text-align: left;
    
}
